.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  height: 650px;
}

.contact-list {
  display: flex;
  flex-direction: column;
  max-height: 650px;
  overflow-y: auto;
}

.contact-container h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.contact-container .error-message {
  width: 100%;
  text-align: center;
  color: red; /* Example error color */
  margin-bottom: 10px;
}

.contact-user-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  border: 1px solid #042a2b;
  border-radius: 20px;
  box-sizing: border-box;
  margin-bottom: 10px;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
}

.contact-user-profile:hover {
  background-color: #042a2b;
  color: white;
}
