* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1A936F;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding-top: 64px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1A936F;
    background: linear-gradient(to bottom, #1A936F 50%, #1A936F 50%, #157A5C);
}