.header-container {
    background-color: red; /* Red color for testing purposes */
    padding: 10px; /* Add padding as needed */
    text-align: center; /* Center the content */
    color: white; /* Text color for visibility */
    z-index: 1; /* Ensure the header appears above other elements */
}

.splash-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #f4f4f4;
    /* Remove padding-top from splash-container */
}

.splash-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    color: #fff;
}

.login-page {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}
