.header-container {
    width: 100vw;
    height: 100vh;
    padding: 10px;
    text-align: center;
    color: white;
    z-index: 2;
}

.splash-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.splash-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    color: #fff;
    background-color: white;
}

.landing-container {
    display: flex;
}