body {
    padding: 0;
    height: 100%;
}

.navbar {
    background-color: rgba(26, 147, 111, 0.7); 
    overflow: hidden;
    height: 64px;
    line-height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-left: 40px;
    padding-right: 40px;

    backdrop-filter: blur(10px);
    /* filter: brightness(1.2); */
}

.brand {
    color: white;
    font-size: 30px;
    font-weight: 600;
}

.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

ul {
    height: 64px;
    line-height: 64px;
    margin: 0;
    padding: 0;
    text-align: center;
}

ul li {
    display: inline;
    margin-right: 20px;
}

ul li:last-child {
    margin-right: 0;
}

ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    position: relative;
}

/* White underline when hovering the link */
ul li.non-highlight a:hover::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 2px;
    background-color: #F28F3B;
}

/* Highlighted Link Style */
ul li.highlight a {
    background-color: white;
    color: #1A936F;
    border-radius: 15px;
    padding: 5px 15px;
}

ul li.highlight a:hover {
    background-color: #042A2B;
    color: white;
}

ul li.highlight a:hover::after {
    content: '';
    display: hidden;
}

.brand.logo-home {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: 600;
    position: relative;
}

.logo-home {
    display: flex;
    align-items: center;
}

.logo-image {
    margin-left: 10px;
    height: 35px;
    width: auto;
}

.brand-text {
    color: white;
    font-size: 30px;
    font-weight: 600;
}