.main-chat-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
}

.contact-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px; /* Fixed width */
    height: 100vh; /* Full height */
    overflow-y: auto; /* Scrollable list */
    background-color: #042a2b; /* Dark background for the sidebar */
    color: white;
}

/* Sidebar styles */
.messageList-container {
  background-color: #042a2b; /* Dark background for the sidebar */
  color: white;
  width: 300px; /* Fixed width */
  height: 100%; /* Fill remaining space */
  max-height: 800px;
  overflow: hidden;
  overflow-y: scroll; /* Scrollable chat */
}

.messageList-container a:hover {
  background-color: #042a2b; /* Hover effect */
}

.message-bubble {
  padding: 10px 20px;
  border-radius: 20px;
  max-width: 60%; /* Max width for each bubble */
  word-wrap: break-word; /* Wrap long words */
}

.from-user {
  background-color: #042a2b; /* Blue bubble for outgoing messages */
  color: white;
}

.from-other {
  background-color: #f2f2f7; /* Light bubble for incoming messages */
  color: black;
}

/* Chat container styles */
.chat-container {
  flex-grow: 1; /* Take up remaining space */
  display: flex;
  flex-direction: column;
}

.messages-container {
  flex-grow: 1;
  margin: 10px;

  border-left: 1px solid #f2f2f7; /* Light separator line */
}

.message-container {
  display: flex;
  justify-content: flex-end; /* Right align for outgoing messages */
  margin-bottom: 10px;
  padding: 5px 10px 0 10px;
}

.from-user-container {
  justify-content: flex-end;
}

.from-other-container {
  justify-content: flex-start;
}

.receiver-username {
  color: #042a2b;
  margin: 0px 10px 20px 0px;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}

hr {
  margin: 10px 0 10px 0;
  border: 0;
  border-top: 1px solid #f2f2f7; /* Light separator line */
}

.send-button {
  width: 20%;
  background-color: #042a2b; /* Blue send button */
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}
