.main-chat-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; /* Align to the start of the container */
  width: 100%;
  height: auto; /* Adjusted from 100vh */
  padding-bottom: 50px; /* Space forz input container */
}

/*.contact-list {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  justify-content: space-between;*/
/*  flex: 0 0 30%; !* flex-grow: 0, flex-shrink: 0, flex-basis: 30% *!*/
/*  height: 100vh;*/
/*  overflow-y: auto;*/
/*  background-color: #042a2b;*/
/*  color: white;*/
/*  !* Remove the max-width as flex-basis will take care of the width *!*/
/*}*/

/* Sidebar styles */
.messageList-container {
  background-color: #042a2b; /* Dark background for the sidebar */
  color: white;
  width: 300px; /* Fixed width */
  height: 100%; /* Fill remaining space */
  max-height: 800px;
  overflow: hidden;
  overflow-y: scroll; /* Scrollable chat */
}

.messageList-container a:hover {
  background-color: #042a2b; /* Hover effect */
}

.message-bubble {
  
  padding: 10px 20px;
  border-radius: 20px;
  max-width: 60%; /* Max width for each bubble */
  word-wrap: break-word; /* Wrap long words */
}

.from-user {
  background-color: #F28F3B; /* Blue bubble for outgoing messages */
  color: white;
}

.from-other {
  background-color: #1A936F; /* Light bubble for incoming messages */
  color: white;
}

.message-input {
  border-radius: 20px;
}

.chat-container {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  flex: 1; /* Takes up the remaining space */
  height: calc(100vh - 200px); /* Adjust height to leave space for header/footer */
  position: relative; /* Needed for absolute positioning of children */
}


.messages-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow-y: auto;
  flex-grow: 1;
  margin-bottom: 50px; /* Same height as input-container including padding */
}

.message-container {
  display: flex;
  align-items: flex-end; /* Align items vertically in the center */
  padding: 5px;
}

.message-time {
  font-size: 0.75em;
  color: #666;
  margin: 0 5px;
}
.from-user-container {
  justify-content: flex-end;
}

.from-user-container .message-time {
  order: -1; /* Render time before the message bubble for your own messages */
}

.from-other-container {
  justify-content: flex-start;
}

.from-other-container .message-time {
  order: 1; /* Render time after the message bubble for opponent's messages */
}

.receiver-username {
  color: #042a2b;
  margin: 0px 10px 20px 0px;
  text-align: center;
}


.input-container {
  display: flex;
  position: absolute; /* Position absolute within chat-container */
  bottom: -40px; /* Stick to the bottom */
  left: 0; /* Align to the left */
  width: 100%; /* Full width */
  background-color: transparent; /* Background color */
  padding: 10px; /* Padding */
  
}

hr {
  margin: 10px 0 10px 0;
  border: 0;
  border-top: 1px solid #f2f2f7; /* Light separator line */
}

.send-button {
  width: 20%;
  background-color: #1A936F; /* Blue send button */
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 20px;
}

.date-separator {
  width: 100%;
  text-align: center;
  margin: 20px 0;
  color: #999;
}
