/* Style for the main container */
.recom-page-container {
    margin: 20px;
}

/* Style for the recommendation card */
.recommendation-card {
    display: flex;
    /* Use flexbox to create a row layout */
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for the person image */
.recommendation-card img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 20px;
}

/* Mainly for the verified badge next to the username */
.info img {
    margin-left: 5px;
    width: 20px;
    height: 20px;
}

/* Style for the person info */
.person-info {
    display: flex;
    flex-direction: row;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Style for the person name */
.recommendation-card p {
    margin-bottom: 5px;
}

.badges img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.modal-content img {
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 20px;
}

.RecomPage h1 {
    color: #000000;
}